body {
  background: var(--black) url(/src/images/Background_image.svg);
  font-family: "Outfit", sans-serif;
  color: var(--light-gray); /* Remover essa propriedade quando acabar o projeto */
}

main {
  max-width: 1280px;
  margin: auto;
}

.container .company {
  text-align: center;
  margin: 2rem auto 0;
}

.container .company .title {
  color: var(--light-gray);
  width: 35rem;
  margin: auto;
}

.container .company .description-company {
  margin-top: 1.5rem;
  color: var(--gray);
}

.container .cards {
  margin: 2rem auto 0;
  display: flex;
  justify-content: space-around;
}

.container .cards .card {
  border-radius: 1.5rem;
  padding: 2rem;
  width: 30rem;
  background-color: var(--light-black);
}

.container .cards .card .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 100%;
}

.container .cards .card .emoji.-emoji-one {
  background-color: var(--beige);
  border: none;
}

.container .cards .card .emoji.-emoji-two {
  background-color: var(--light-aqua);
  border: none;
}

.container .cards .card .emoji.-emoji-three {
  background-color: var(--beige);
}

.container .cards .card h3 {
  margin-top: 2rem;
  font-size: 2rem;
}

.container .cards .card p {
  margin-top: 1.5rem;
  color: var(--gray);
}

.container .cards .card img  {
  margin-top: 2rem;
  border-radius: inherit;
  width: 100%;
}